<div class="alertmessage" *ngIf="alertForInvalidInput">
  <p style="margin-top: 1vh;margin-bottom: 1vh;">{{alertForInvalidInput}}</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="border: 0.01vh solid gray;width: 22vw;height: 46.5vh;">
      <div class="row">
        <div class="col-xs-12">
          <p style="font-size: larger;margin-left: 2%;">Calculator
            <button class="btn" style="float: right;" (click)="recentCalculation()">Recent</button></p>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <p style="float: right; margin-top: -10px;">{{expression}}</p>
          <input type="text" class="form-control" value="{{inputValue}}" readonly/>
        </div>
      </div>
      <div *ngIf="!recent">
        <div class="row">
          <div class="col-xs-12">
            <button id="%" class="btn btn-default btn-group btn-number" (click)="oprator('%')">%</button>
            <button id="x^1/2" class="btn btn-default btn-group btn-number" (click) = "operationWithX(0.5)">x^1/2</button>
            <button id="x^2" class="btn btn-group btn-default btn-number" (click) = "operationWithX(2)">x^2</button>
            <button id="1/x" class="btn btn-group btn-default btn-number" (click) = "operationWithX(-1)">1/x</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="CE" class="btn btn-default btn-group btn-number" (click)="clearInput()">CE</button>
            <button id="C" class="btn btn-default btn-group btn-number" (click)="clearExpression()">C</button>
            <button id="Backspace" class="btn btn-group btn-default btn-number" (click)="removeLastDigit()">X</button>
            <button id="/" class="btn btn-group btn-default btn-number tooltip" (click)="oprator('/')" [disabled]="inputValue === '0' && expression.length!==0">/
            <span class="tooltiptext" *ngIf="inputValue === '0' && expression.length!==0">Division by Zero Not Possible</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="7" class="btn btn-default btn-group btn-number" (click)="inNumber(7)">7</button>
            <button id="8" class="btn btn-default btn-group btn-number" (click)="inNumber(8)">8</button>
            <button id="9" class="btn btn-group btn-default btn-number" (click)="inNumber(9)">9</button>
            <button id="*" class="btn btn-group btn-default btn-number" (click)="oprator('x')">x</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="4" class="btn btn-default btn-group btn-number" (click)="inNumber(4)">4</button>
            <button id="5" class="btn btn-default btn-group btn-number" (click)="inNumber(5)">5</button>
            <button id="6" class="btn btn-group btn-default btn-number" (click)="inNumber(6)">6</button>
            <button id="-" class="btn btn-group btn-default btn-number" (click)="oprator('-')">-</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="1" class="btn btn-default btn-group btn-number" (click)="inNumber(1)">1</button>
            <button id="2" class="btn btn-default btn-group btn-number" (click)="inNumber(2)">2</button>
            <button id="3" class="btn btn-group btn-default btn-number" (click)="inNumber(3)">3</button>
            <button id="+" class="btn btn-group btn-default btn-number" (click)="oprator('+')">+</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="+-" class="btn btn-default btn-group btn-number"(click)="op('+-')">+-</button>
            <button id="0" class="btn btn-default btn-group btn-number" (click)="inNumber(0)">0</button>
            <button id="." class="btn btn-group btn-default btn-number" (click)="op('.')">.</button>
            <button id="Enter" class="btn btn-group btn-default btn-number" (click)="op('=')">=</button>
          </div>
        </div>
      </div>
      <div *ngIf="recent" style="border-top: 1px solid rgb(210, 210, 210);height:30vh;overflow:auto;">
        <div class="row" *ngFor="let cal of calculation.reverse()">
          <div class="classlist">
            <p style="font-size: large;">{{cal.op1}} {{cal.op}} {{cal.op2}} = </p>
            <p style="font-size: xx-large;margin-top: -2.5vh;">{{cal.result}}</p>
          </div>
        </div>
        <div *ngIf="calculation.length === 0">
          <p>There's no history yet</p>
        </div>
      </div>
    </div>
  </div>
</div>